/* Navigation
---------------------------------*/

@font-face {
  font-family: "Geovana";
	src: url('fonts/Geovana.ttf');

}
@font-face {
font-family: "Poppins-Black";
	src: url('fonts/Poppins-Black.ttf');
}
@font-face {
font-family: "Poppins-Bold";
	src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
font-family: "Poppins-ExtraBold";
	src: url('fonts/Poppins-ExtraBold.ttf');
}
@font-face {
   	font-family: "Poppins-ExtraLight";
		src: url('fonts/Poppins-ExtraLight.ttf');
}
@font-face {
   font-family: "Poppins-ExtraLightItalic";
			src: url('fonts/Poppins-ExtraLightItalic.ttf');
	
}
@font-face {
   font-family: "Poppins-Italic";
	src: url('fonts/Poppins-Italic.ttf');
	
}

@font-face {
   font-family: "Poppins-Ligth";
	src: url('fonts/Poppins-Ligth.ttf');
}

@font-face {
   font-family: "Poppins-LigthItalic";
	src: url('fonts/Poppins-LightItalic.ttf');
}

@font-face {
font-family: "Poppins";
	src: url('fonts/Poppins.ttf');
}
@font-face {
font-family: "Poppins-Regular";
	src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Poppins-Bold";
	src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: "Poppins-SemiBold";
	src: url('fonts/Poppins-SemiBold.ttf');
}

@font-face {
     font-family: "Poppins-Thin";
	src: url('fonts/Poppins-Thin.ttf');
}
@font-face {
     font-family: "Poppins-ThinItalic";
	src: url( 'fonts/Poppins-ThinItalic.ttf');
}
@font-face {
     font-family: "Poppins-Medium";
		 src: url('fonts/Poppins-Medium.ttf');

}
@font-face {
     font-family: "Poppins-MediumItalic";

	src: url('fonts/Poppins-MediumItalic.ttf');
}

body{
	font-family: 'Poppins-Regular';
	margin: 0;
	padding: 0;
}

.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
	position: sticky;
}
.main-nav{
	text-align:center;
	margin:0px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #7cc576;
}



/* Registration
---------------------------------*/
.helptext{
  display: none;
}


.registration_form label{
  display: none;

}

.registration_form input{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px;
	height: 45px;
  
}
.form-shadow{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 5px 0px rgba(194,194,194,1);
	border-radius: 6px;
}
.form-submit{
  background: #6dabe4;
  color: rgb(214, 182, 182);
  border: none;
  width: auto;
  letter-spacing: 3px;
  padding: 15px 39px;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.signup-image-link{
    font-size: 18px;
    color: #222;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top:50px;
    font-family: 'Poppins-Regular';
}


/* loginform */
.login_form label{
  display: none;

}

.login-img{
	height: 200px;
	width: 200px;
	object-fit: contain;
}
.login-link{
    font-size: 15px;
    color: rgb(145, 155, 147);
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top:50px;
    font-family: 'Poppins-Regular';
}
.register-here-font{
	font-family: 'Poppins-Bold';
	
}
.login_btn{
  
  color:green;
  width: auto;
  letter-spacing: 3px;
  padding: 15px 39px;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.login-panel{
	position: relative;
}

.login-panel form{
	top:50%;
	left: 0;
	right: 0;
	padding: 5%;
	position: absolute;
	transform: translateY(-50%);
	width:100%;
}
.login-panel input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px;
	height: 45px; 
}