{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
  <body>
        <nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        
                        <li>
                          <a href="#header">
                                <img src="{% static "images/unoapp.png" %}" alt="image!" style="height: 50px !important;" />
                          </a>
                      </li>
                       
                        {# Django Home Link / Admin Link / Register Link#}
            
                        
    
                        {# Some logic on what to display for last item#}
                        {% if user.is_authenticated %}
                            <li><a class="navbar-link" href="{% url 'logout' %}">logout</a></li>
                            <li><a class="navbar-link" href="{% url 'change_password' %}">Change Password</a></li>
                        {% else %}
                            <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
                            <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li> 
                        {% endif %}
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
            <!--main-nav-end-->
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>