{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" onsubmit="myFunction()">Save changes</button>
          </form>
    </div>
  </div>
  <script>
    function myFunction() {
    alert("Password Changed");
    }
</script>
  {% endblock %}