{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Unoapp !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}  </h2>
        <!-- <img src="/media/{{profile.profile_pic}}" alt="No Image" height=150 width=150 style='border-radius:50%'> -->
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}