{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="mt-5">
    <div class="row col-md-8 mx-auto form-shadow justify-content-center  mb-5  ">
      <div class="col-md-6 col-12 login-panel login_form"  >  
        <!-- <form method="post" action="{% url 'user_login' %}">
                  {% csrf_token %}
                  {# A more "HTML" way of creating the login form#}
                  
                  <input type="text" name="username" placeholder="Username">
        
                  <input type="password" name="password" placeholder="Password">
        <input type="submit" class="bg-success login_btn" name="" value="Login">
        </form> -->
        <form method="post">
          {% csrf_token %}

        <br>
        <h1 class="jumbotron"style="text-shadow:1px 10px 17px black;border-radius:19px">login here</h1>
        <label for="">User Name</label>
        <input type="text" name="un" value="" placeholder="Username" class="form-control">
        <br>
        <label for="">Password</label>
        <input type="password" name="pwd" value="" placeholder="Password" class="form-control">
        <input type="submit" style="margin-left:39%; margin-top:15px;margin-bottom:16px;border-radius:20%;" class="btn  p-2 " value="Login"/>
        {% if wrngpass %}
        <script type="text/javascript">
        alert("{{wrngpass}}");

        </script>

        {% endif %}

        </form>

      </div>
         
    
      <div class="col-md-6 col-12 text-center  d-sm-none d-md-block">
          <img src="{% static "images/signin-image.jpg" %}" alt="image!"  class="login-img mt-5"/>
          <p>
          <a href="{% url 'register' %}" class="login-link">Not a member ? <span class=register-here-font>Register here</span></a>
          </p>
      </div>
    </div>
 </div>

{% endblock %}