{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}
  <div class="mt-5">
    <div class="row  p-5 mb-5 bg-white rounded registration_form form-shadow">
      <div class="col-md-6">
          {% if registered %}
          <h1>Thank you for registering!</h1>
        {% else %}
          <h1>Register Here</h1>
          <h3>Just fill out the form.</h3>
          <form method="post" class="ml-3"  enctype='multipart/form-data'>
            <br>
            {% bootstrap_form form %}

            {% csrf_token %}  
            <br>
            <input type="submit" name="" onclick="OnClick()" style="margin-top:25px;margin-bottom:15px;border-radius:20px"class="btn btn-block p-2 m-1  "value="Sign Up">
            <script>
                  function OnClick() {
                  alert("Thank you for registering");
                  }
            </script>

          </form>

          
        {% endif %}
      </div>
      <div class="col-md-6 text-center mt-5">
          <img src="{% static "images/signup-image.jpg" %}" alt="image!" />
          <p>
          <a href="{% url 'user_login' %}" class="signup-image-link">Already member ? <span class="register-here-font">Login here</span></span></a>
          </p>
      </div>
    </div>
  </div>
{% endblock %}